.container{
    height: 200px;
    width: 500px;
    background-color: tomato;
    display: flex;
}
.item{
    width: 100px;
    height: 200px;
}
.container .item:nth-child(1){
    background-color: teal;
    /* order: 4; */
    /* flex-grow: 1; */
    /* flex-shrink: 5; */
    flex-basis: 20%;
}
.container .item:nth-child(2){
    background-color: thistle;
    /* order: 2; */
    /* flex-grow: 2; */
    /* flex-shrink: 10; */
    flex-basis: 60%;
}
.container .item:nth-child(3){
    background-color: turquoise;
    /* order: 3; */
    /* flex-grow: 3; */
    /* flex-shrink: 10; */
    flex-basis: 10%;
}
.container .item:nth-child(4){
    background-color: tan;
    /* order: 1; */
    /* flex-grow: 4; */
    /* flex-shrink: 0; */
    flex-basis: 10%;
}